<% include partials/_header_v %>


<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover" border="3">
        <thead>
          <tr align="center">
            <td>Placa Vehiculo</td>
            <td>Modelo</td>
            <td>A単o</td>           
            <td>Propietario del Vehiculo</td>
            <td>Acciones</td>
          </tr>
        </thead>
        <tbody align="center">
        	<% if (data) { %>
          
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= data[i].id_placa %></td>
                <td><%= data[i].modelo %></td>
                <td><%= data[i].a単o %></td>
                <td><%= data[i].id_propietario_v %></td>
                 
                <td>
                  <a href="/update_vehiculo/<%= data[i].id_placa %>" class="btn btn-info">Editar</a>
                  <a href="/delete_vehiculo/<%= data[i].id_placa %>" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
            <% } %>
          <% } %>
       
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card-body">

        <form action="/guardar" method="POST">

          <div class="form-group">
            <input type="text" name="id_placa" placeholder="Placa" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="modelo" placeholder="Modelo" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="a単o" placeholder="A単o" class="form-control">
          </div>

          <div class="form-group">
            <input type="text" name="id_propietario_v" placeholder="Propietario" class="form-control">
          </div>

                   
          
          <div align="center">
              <button type="submit" class="btn btn-warning">
              Registrar Vehiculo
              </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<% include partials/_footer %>